<app-number-select (selected)="destination = $event"></app-number-select>

<div class="row mx-0 mb-3">
  <nb-select size="small" [(selected)]="telecom">
    <nb-option value="FET">FET 遠傳</nb-option>
    <nb-option value="CHT">CHT 中華</nb-option>
  </nb-select>

  <nb-checkbox status="primary" class="ml-auto">指令</nb-checkbox>
</div>

<textarea nbInput fullWidth placeholder="內文" fieldSize="large" class="mb-3" [(ngModel)]="content"></textarea>

<button nbButton fullWidth status="success" shape="round" [nbSpinner]="isLoading" nbSpinnerStatus="success"
  class="mx-auto" (click)="send()">傳送</button>