ng-select ::ng-deep .ng-select-container{    
  background-color: inherit !important;
  border-color: inherit !important;
  border-style: inherit !important;
  border-width: inherit !important;
  color: inherit !important;
  font-family: inherit !important;
  border-width: 0 !important;
  -webkit-appearance: inherit !important;
  transition-duration: inherit !important;
  transition-property: inherit !important;
  transition-timing-function: inherit !important;
}

ng-select ::ng-deep .ng-value {
  color: black;
}
