<app-number-select (selected)="data.destination = $event"></app-number-select>

<textarea nbInput fullWidth placeholder="內文" class="mb-3" [(ngModel)]="data.content"></textarea>

<div class="row mx-0">
  <input nbInput placeholder="傳送日期" fullWidth type="text" class="mb-3"
    [ngModel]="(data.dateTime.start | amDateFormat: 'YYYY.MM.DD') + (data.dateTime.end ? ' - ': '') +  (data.dateTime.end | amDateFormat: 'YYYY.MM.DD')"
    [nbPopover]="dateRange">
  <nb-icon icon="close-circle-outline" (click)="clearDateTime()"></nb-icon>
</div>

<ng-template #dateRange>
  <nb-calendar-range (rangeChange)="data.dateTime = $event" [showHeader]="false"></nb-calendar-range>
</ng-template>

<ngx-charts-pie-chart [view]="[216,250]" [results]="status" doughnut="true" [customColors]="customColors" 
  (select)="selectStatus($event.name)">
</ngx-charts-pie-chart>