<nb-layout>

  <nb-layout-header fixed>
    簡訊小尖兵
    <nb-search type="modal-move"></nb-search>
    <input nbInput placeholder="傳送日期" [nbDatepicker]="rangepicker" shape="round">
    <nb-rangepicker #rangepicker [max]="today" ></nb-rangepicker>
  </nb-layout-header>
  <nb-layout-header subheader>
    <nb-actions>
      <nb-action>
        <nb-checkbox status="info">CHT</nb-checkbox>
        <nb-checkbox status="danger">FET</nb-checkbox>
      </nb-action>
      <nb-action>
        <nb-checkbox status="primary">指令</nb-checkbox>
        <nb-checkbox status="success">通知</nb-checkbox>
        <nb-checkbox status="warning">其他</nb-checkbox>
      </nb-action>
      <nb-action>
        <nb-checkbox status="info">處理中</nb-checkbox>
        <nb-checkbox status="primary">傳送中</nb-checkbox>
        <nb-checkbox status="warning">拒絕</nb-checkbox>
        <nb-checkbox status="success">成功</nb-checkbox>
        <nb-checkbox status="danger">失敗</nb-checkbox>
      </nb-action>
      <!-- <nb-action icon="globe-outline"></nb-action> -->
      <!-- <nb-action icon="pie-chart-outline"></nb-action> -->
    </nb-actions>
  </nb-layout-header>

  <nb-layout-column>

    Hello World!

    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer>Contact us</nb-layout-footer>

</nb-layout>