<nb-layout>

  <nb-layout-header fixed>
    <div class="d-flex justify-content-between w-100">
      <nb-actions>
        <nb-action icon="funnel-outline" (click)="toggleFilter()"></nb-action>
      </nb-actions>
      <h5>
        簡訊小尖兵
      </h5>
      <nb-actions>
        <nb-action class="control-item" icon="email-outline" (click)="openWindow(contentTemplate)"></nb-action>
        <nb-action class="control-item" icon="moon-outline" (click)="toggleDarkMode()"></nb-action>
      </nb-actions>
    </div>

  </nb-layout-header>

  <nb-sidebar left tag="filter" state="collapsed">
    <nb-search type="rotate-layout"></nb-search>
    <input nbInput placeholder="傳送日期" [nbDatepicker]="rangepicker" shape="round" class="my-5">
    <nb-rangepicker #rangepicker [max]="today"></nb-rangepicker>
    <div class="my-auto">

      <span class="subheader">電信</span>
      <hr>
      <nb-checkbox status="primary">CHT</nb-checkbox>
      <nb-checkbox status="danger">FET</nb-checkbox>
      <br>
      <span class="subheader">發送用途</span>
      <hr>
      <nb-checkbox status="primary">指令</nb-checkbox>
      <nb-checkbox status="success">通知</nb-checkbox>
      <nb-checkbox status="warning">其他</nb-checkbox>
      <br>
      <span class="subheader">狀態</span>
      <hr>
      <nb-checkbox status="info">處理中</nb-checkbox>
      <nb-checkbox status="primary">傳送中</nb-checkbox>
      <nb-checkbox status="success">已成功</nb-checkbox>
      <nb-checkbox status="danger">已失敗</nb-checkbox>
      <nb-checkbox status="warning">電信拒絕</nb-checkbox>
    </div>

  </nb-sidebar>


  <nb-layout-column>
    <nb-card>
      <nb-accordion multi nbInfiniteList [threshold]="500" pageSize="5">
        <nb-accordion-item *ngFor="let msg of historyMessage" class="row mx-0 ">
          <nb-accordion-item-header class="px-0">
            <!-- chart  -->
            <div class="col-2 col-md-1  px-0">
              <app-status-chart [msgDestination]="msg.destination"></app-status-chart>
            </div>
            <!-- content  -->
            <p class="col-7 col-md-6 my-auto text-break">
              {{ msg.content }}
            </p>
            <!-- user  -->
            <div class="col-1 d-none d-md-block ml-auto">
              <nb-user [name]="msg.user" onlyPicture="true" [nbTooltip]="'發送者:'+ msg.user" nbTooltipPlacement="right">
              </nb-user>
            </div>
            <!-- telecom  -->
            <div class="col-1 d-none d-md-block ml-auto">
              <span class="badge mx-auto"
                [ngClass]="{'badge-danger':  msg.option.telecom === 'FET', 'badge-primary':  msg.option.telecom === 'CHT'}">
                {{ msg.option.telecom }}
              </span>
            </div>
            <!-- dateTime -->
            <div class="col-3 col-lg-2 my-auto ml-auto pl-0">
              <div class="d-none d-sm-block"> {{ msg.dateTime | amLocal | amDateFormat: 'MM/DD, HH:mm:ss'}} </div>
              <div class="d-block d-sm-none text-break"> {{ msg.dateTime | amLocal | amDateFormat: 'M/D, H:m'}} </div>
              <span class="text-muted d-none d-sm-block">{{ msg.dateTime | amTimeAgo }}</span>
            </div>
            <nb-badge *ngIf="msg.destination.length > 1" [text]="msg.destination.length" status="danger"></nb-badge>

          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <nb-list>
              <nb-list-item *ngFor="let destination of msg.destination" class="row mx-0 px-0">
                <!-- status  -->
                <app-status class="col-3 col-md-1 my-auto pl-0 ml-auto" [status]="destination.status"></app-status>
                <!-- number  -->
                <div class="col-6 col-md-3 my-auto text-break text-center "> {{ destination.number }}</div>
                <!-- text  -->
                <div class="col-md-4 col-lg-5 my-auto text-break d-none d-md-block">
                  <span class="text-muted" *ngIf=" destination.messageId "> 訊息編號</span> {{ destination.messageId }}
                  <br>
                  <span class="text-muted">電信回應</span> {{ destination.responseText }}</div>
                  <!-- dateTime  -->
                <div class="col-3 col-lg-2 my-auto ml-auto pr-0" *ngIf="destination.updateDateTime">
                  <div class="d-none d-sm-block">  {{ destination.updateDateTime  | amLocal | amDateFormat: 'MM/DD, HH:mm:ss'}} </div>
                  <span class="text-muted ">{{destination.updateDateTime | amDifference: msg.dateTime :'second' | amDuration: 'seconds' }}</span>
                </div>
              </nb-list-item>
            </nb-list>
            <!-- {{ msg.option.telecom }} -->
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </nb-card>

    <router-outlet></router-outlet>

  </nb-layout-column>

</nb-layout>

<ng-template #contentTemplate let-data>
  <p>Here is the text provided via config: "{{ data.text }}"</p>
</ng-template>
