/* You can add global styles to this file, and also import other style files */
@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/dark';
@import "~@ng-select/ng-select/themes/default.theme.css";

$nb-themes: nb-register-theme((text-basic-color: color-basic-800, // some styles we changed
    text-disabled-color: color-basic-600,
  ), default, default);

$nb-themes: nb-register-theme((text-basic-color: color-basic-800, // some styles we changed
    text-disabled-color: color-basic-600,
  ), dark, dark);

@media (max-width: 575.98px) {
  nb-sidebar.expanded {
    width: 100% !important;
  }

  .main-container {
    width: 100% !important;
  }
}
